logs
project/project
project/target
target
tmp
.history
.idea
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin
.DS_Store
dlcache
logs
bin
tdlsrc
tdlcls
*.iml
*.orig
/assets
release
/dependencies
*.7z
samplequeries.sql
